 body{
    text-align: center;
    width: 300px;
    color: rgb(21, 8, 159);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;

 }
 p {
    font-size: large;
    font-weight: 700;
    color: brown;
 }





  